.vocab-list-container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 30px auto;
}

.addBtn:hover{
/* border-radius: 50%!important;
border-color:transparent;
&:active {
    border-color: transparent;
  } */
}
path:hover {
    fill: cornflowerblue; /* Change the fill color on hover */
    cursor: pointer; /* Change the cursor to indicate interactivity */
  }
.create-new-list-modal{

}

.btn {
    width: 5rem;
}