.vocab-list-container {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 30px auto;
  align-items:center;
  justify-content:center;
}
.vocab-list-title{
  justify-content:center;
  align-items:center;
  margin-bottom:1rem;
}
.list-title-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title{
  display:flex;
  margin:1rem;
}
.search-bar{
  width:20rem!important;
  display:flex!important;
  align-items:center!important;
}
.vocab-line{
  background-color: white;
  /* border: 1px solid gray; */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 30px auto;
}

.checked-button.checked > path{
  fill:rgb(44 179 43)
}

.unchecked-button.unchecked > path{
  fill:rgb(221 21 21)
}
.button:hover{
  cursor:pointer;
}
.clickable:hover{
  cursor:pointer;
}
.clickable-card .deck-title-card:hover{
  cursor:pointer;
}

.icon-button:hover  {
  /* border-radius: 50%!important;
border-color:transparent;
&:active {
    border-color: transparent;
  } */
  fill: cornflowerblue; 
  cursor: pointer; 
}
/* path:hover {
  fill: cornflowerblue; 
  cursor: pointer; 
} */
.create-new-list-modal {
}

.btn {
  width: 5rem;
}

.card {
  /* border-radius: 10px; */
  /* background: linear-gradient(0deg, #eef5fa 0%, #eef5fa 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), #82b7f3; */
    border-radius: 10px;
    border-color:transparent!important;
    background: var(--B1, #82B7F3);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)!important; */
  }
