.shadowingpage-container {
    background-color: #EEF5FA;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 30px auto;
    width: 60vw;
    height: 75vh;
}

.youtubecard {
    width: 10vw;
    height: 10vw;
    margin: 30px;
}
