.header-container {
  display: flex;
  justify-content: center;
  height: 100px;
}

.body-container {
  display: flex;
  justify-content: center;
}
.body-container2 {
  display: flex;
  justify-content: space-around;
  padding-left: 300px;
  padding-right: 300px;
}

.footer-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 550px;
  transform: translate(-50%, -50%);
}

.profile-container {
  position: relative;
  background-image: url("../../../assets/MatchingGamePageAssets/Group\ 1000004175.png");
  background-size: contain;
  background-position: center;
  width: 318px;
  height: 429px;
  padding: 0;
}

.match-profile-container {
  position: relative;
  background-image: url("../../../assets/MatchingGamePageAssets/Group\ 1000004175.png");
  background-size: contain;
  background-position: center;
  width: 318px;
  height: 429px;
  padding: 0;
  z-index: 1;
}

.vs-text {
  display: flex;
  font-size: xxx-large;
  padding-top: 170px;
}

.profile-image {
  position: absolute;
  justify-content: center;
  background-clip: border-box;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.match-profile-image {
  position: absolute;
  justify-content: center;
  background-clip: border-box;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.match-profile-name {
  position: absolute;
  font-weight: bold;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.match-profile-point {
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: goldenrod;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-image2 {
  position: absolute;
  justify-content: center;
  background-clip: border-box;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  top: 360px;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.waiting-time {
  position: relative;
  position: absolute;
  margin-right: auto;
  color: black;
  text-align: center;
  font-size: xxx-large;
  width: 200px;
}

.loading-spinner {
  justify-content: center;
  animation: spin 4s linear infinite;
}

.loading-text {
  font-size: 54px;
  font-weight: bold;
  color: black;
  padding-right: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.exit-button {
  margin-left: auto;
  padding: 20px;
  width: 100px;
  height: 103px;
  cursor: pointer;
}
