.scrollspy-example {
  overflow-y: scroll;
  background-color: #e6f1fa;
  height:50vh;
  border-radius: 0 10px 0 10px;
  margin-bottom: 20px;
}

.analysis-container {
  display: flex;
  flex-direction: row;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.page-center {
  width: 75vw !important;
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
}
.message-bubble {
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-message {
  align-self: flex-start;
  background-color: white;
}

.other-message {
  align-self: flex-end;
  background-color: #0d6efd;
  color: #fff;
}
.review-header{
  display:flex;
  flex-direction:row;
}
.script-container {
  /* border: 1px solid #ccc; */
  padding: 10px;
  /* height: 500px; */
  /* margin-top: 50px; */
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.script-column {
height:67px;
max-width: 70% !important;
}

.review-container {
  background-color: white;
  border: 9px solid white;
  height:33vh;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.review-container-div { 
  height:67vh;
}

.translation-bar {
  width: 100%;
}
