.translation-container-analysis {
  display: flex;
  width: 100%;
  padding: 0;
}

.half-width-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-box,
.output-box {
  flex: 1;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container textarea,
.output-box p {
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  margin: 0;
}

.output-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-translate,
.top-row select {
  width: 7em;
  margin-top: 10px;
}

.translation-error {
  color: #ff1234;
}

@media (max-width: 768px) {
  .translation-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }

  .half-width-container {
    width: 100%;
    margin: 0;
  }
}

.clickable-item {
  cursor: pointer;
  text-decoration: none;
  color: #0050A6;
  font-weight: bold;
  transition: color 0.3s ease;
}

.clickable-item:hover {
  color: #0056b3;
  background-color: #f0f0f0;
}

.clickable-item-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #ECF4FA !important; 
}