.login-body {
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 1300px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 80px;
  box-shadow: 5px 5px 15px 2px;
}

.loginB {
  padding-bottom: 100px;
  border-bottom: 1px solid lightgray;
}

.login-form-img {
  width: 550px;
  height: 500px;
  margin-right: 100px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 310px;
  height: 500px;
}

.login-form h2 {
  font-weight: bold;
  color: rgb(63, 63, 143);
  margin-left: 0px;
}

.btn-login {
  cursor: pointer;
  margin-top: 15px;
  width: 310px;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background: linear-gradient(271.15deg, #fe904b 7.64%, #fb724c 90.68%), #ee5757;
  border: none;
}

#btn-login {
  width: 310px;
}

.login-form tr {
  display: grid;
  grid-template-rows: auto;
  margin-top: 15px;
}

.email {
  width: 310px;
  height: 40px;
  border-radius: 7px;
  border-color: rgb(19, 79, 190);
}

.email-th {
  color: rgb(19, 79, 190);
  margin-left: 8px;
  font-size: 12px;
  font-weight: 200;
}

.password {
  width: 310px;
  height: 40px;
  border-radius: 7px;
  border-color: rgb(19, 79, 190);
}

.password-th {
  color: rgb(19, 79, 190);
  margin-left: 8px;
  font-size: 12px;
  font-weight: 200;
}

.under-line {
  margin-top: 5px;
  display: flex;
  padding-left: 48px;
}

.under-line > .line1 {
  font-weight: bold;
  border-bottom: 1px solid;
  width: 75px;
  margin-bottom: 35px;
}

.under-line > .line2 {
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(93, 93, 209);
}

.under-line > .line3 {
  font-weight: bold;
  border-bottom: 1px solid;
  width: 75px;
  margin-bottom: 35px;
}

.login-other {
  display: flex;
  flex-direction: column;
  margin-left: 52px;
}

.login-other button {
  margin-bottom: 15px;
}
