.userimg {
    width: 100px;
    margin-right: 30px;
}

.badgeimg {
    width: 100px;
    margin-right: 30px;
}

.clickable:hover{
    cursor:pointer;
}
.clickable .clickable-cards:hover{
    cursor:pointer;
}

.custom-chart-container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 30px;
}
