/* style.css */
.translation-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
}

.half-width-container {
  flex: 1;
  margin: 0 10px;
}

.text-box,
.output-box {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container textarea {
  height: 150px;
  resize: none;
  border: none;
  outline: none;
}
.badge {
  width: 15%; /* 변경된 부분 */
  background-color: #1D5193; /* 추가된 부분 */
  margin-left: 10%;
  margin-top: 1%;
}

span {
  font-size: 20px;
}

.output-box {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-translate,
.top-row select {
  width: 7em;
  margin-top: 10px;
}

.translation-error {
  color: #ff1234;
}

@media (max-width: 768px) {
  .translation-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }

  .half-width-container {
    width: 100%;
    margin: 0;
  }
}
