.ShadowingDetailPage-container {
    display: flex; /* 부모 요소를 flex container로 설정 */
    align-items: center;
    justify-content: center;
    height: 100vh; /* 뷰포트 높이에 맞게 조절 (선택적) */
  }
  
  .VOD {
    width: 100%; /* 비디오가 부모 요소 너비를 채우도록 설정 */
    max-width: 640px; /* 비디오의 최대 너비를 설정 (선택적) */
  }
  