.study-analysis-container {
    padding: 10px;
    margin: 30px auto;
    width: 70vw;
    height: 190vh;
}

.scorebadge {
    width: 85px;
    height: 110px;
}

.calendar {
    width: 700px;
    height: 400px;
    background-color: #f1f7fa;
    border: none;
    .react-calendar {
        color: black !important;
    }
}

.cal-container {
    background-color: white;
    border: 1px solid gray;
    background-color: #f1f7fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.grade-container {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.highlighted-tile {
    background-color: #007bff;
    color: white !important;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}