.study-analysis-container {
  padding: 10px;
  margin: 30px auto;
  width: 75vw;
  min-height: 80vh;
}

.scorebadge {
  width: 85px;
  height: 110px;
}

.calendar {
  width:fit-content;
  /* width: 700px; */
  height:fit-content;
  min-height:10rem;
  /* height: 400px; */
  background-color: #f1f7fa;
  border: none;
  .react-calendar {
    color: black !important;
  }
}
.calendar-block-bg{
  background-color: #f1f7fa;
  padding:1rem;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.cal-container {
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.grade-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
}

.highlighted-tile {
  background-color: #007bff;
  color: white !important;
  border-radius: 20%;
  position: relative;
  z-index: 1;
}

.cal-container .react-calendar .react-calendar__tile {
  color: gray;
  font-size: larger;
  margin-top: 6vh;
}

.cal-container .react-calendar .react-calendar__tile--active {
  background-color: #A0C9F6;
  color: white;
}

.cal-container .react-calendar .react-calendar__tile--now {
  background-color: #FFCF9B;
}

.react-calendar__navigation__label__labelText--from {
  color: black;
}

.cal-container .react-calendar .react-calendar__navigation button {
  color: black; 
}
